extends layout

block content
	h2 Register

	form(action="/register", method="post")
		if data && data.error
			p.alert.alert-danger.alert-dismissible.fade.in(role="alert")
				button.close(type="button" data-dismiss="alert" aria-label="Close")
					span(aria-hidden="true") &times;
				span #{data.error}
		if data && data.message
			p.alert.alert-success.alert-dismissible.fade.in(role="alert")
				button.close(type="button" data-dismiss="alert" aria-label="Close")
					span(aria-hidden="true") &times;
				span #{data.message}

		div
			label Username
			input(type="text", name="username")

		div
			label Email
			input(type="text", name="email")

		div
			label Password
			input(type="password", name="password")

		div
			input(type="submit", value="Register")